.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.tree-col {
  height:   100vh;
}

main {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 100px); /* Calcule la hauteur en fonction de la hauteur de la fenêtre */
}

main > * {
  flex: 1; /* Permet à chaque enfant de prendre autant d'espace que possible */
}

.my-component {
  width: 100%; /* Prend toute la largeur disponible */
  height: 100%; /* Prend toute la hauteur disponible */
}


#treeWrapper {
  min-height: 500px; /* Remplacez 500px par la hauteur minimale souhaitée */
}
